header{
    background-color: black;
    display: flex;
    font-family: 'McLaren', cursive;
}
h1{
    color: white;
}
figcaption{
    color: white;
}
#latest, #models, #speed, #expensive{
    margin-left: 100px;
}
#logo{
    margin-left: 200px;
    background-color: white;
}
.firstpage{
    display: flex;
    border: 2px solid black;
    background-color: black;
    height: 300px;
    font-family: 'McLaren', cursive;
    margin-top: 4px;

}
.first-page-text{
    margin-top: 12px;
    color: white;

}
.secondpage{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 5px;
    grid-template-rows: 100px 350px;
    margin-top: 7px;
    border: 1px solid black;
}
#collections{
    background-color: black;
    color: white;
    font-family: 'Sedgwick Ave Display', cursive;
    letter-spacing: 5px;

}
.secondpage h1{
    margin-left: 20px;

}
#bg-ferrari{
    background-image: url(resources/812superfast.jpg);
    background-repeat: no-repeat;
    background-size: 700px 350px;
}
#bg-lambo{
    background-image: url(resources/lambirghini-huracan.jpg);
    background-repeat: no-repeat;
    background-size: 700px 350px;
}
#col2{
    font-family: 'Sedgwick Ave Display', cursive;
    font-size: 20px;
    letter-spacing: 5px;

}
.thirdpage{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(11,50px);
    grid-gap: 5px;
    font-family: 'Acme', sans-serif;
    letter-spacing: 10px;
    margin-top: 5px;
}
#span{
    grid-area: 1/1/1/span 2;
}
#cool{
    background-color: black;
    color: white;

}
.fourthpage{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 100px 100px;
    background-color: black;
    color: white;
    font-family: 'McLaren', cursive;
    margin-top: 20px;
}
.fifthpage{
    display: flex;
    margin-top: 10px;
    height: 500px;
    font-family: 'McLaren', cursive;
    color: rgb(206, 143, 7);
}
#bg-fer{
    border: 1px solid black;
    width: 700px;
    background-image: url(resources/gto250.jpg);
}
#bg-lambor{
    border: 1px solid black;
    width: 700px;
    margin-left: 5px;
    background-image: url(resources/GoldenLambo.jpg);
    background-size: 600px 500px;
}